*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    background-color:aqua;
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .main{
    width: 400px;
    height: 450px;
    background-color: rgb(40, 18, 135);
    position: absolute;
    border: 5px solid rgb(206, 195, 148);
    border-radius: 6px;
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid rgb(187, 117, 117);
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: rgb(202, 94, 94);
    border-radius: 6px;
    color: rgb(150, 212, 152);
 }
 .btn input[type='button']:hover{
    background-color: rgb(132, 48, 48);
    color: rgb(155, 198, 74);
 }
